@model SoftwareGroup.Mirrors.WebUI.Models.DSWizardViewModel

@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "DSWizard1" }))
{
    <div style="width:500px">
        <div style="margin-top:10px;margin-bottom:10px;">
            <span>@Html.RadioButtonFor(m => m.DataSourceType, "OLTP", new { @class = "selectDataSource" }) From SQL Server</span>
            <p>Create a Connection to the SQL server View or Stored Procedure</p>
        </div>
        <div style="margin-bottom:10px">
            <span>@Html.RadioButtonFor(m => m.DataSourceType, "OLAP", new { @class = "selectDataSource" })From Analysis Services</span>
            <p>Create a connection to the SQL Server Analysis Cubes </p>
        </div>

        <div style="margin-bottom:10px;">
            <span>@Html.RadioButtonFor(m => m.DataSourceType, "Others", new { @class = "selectDataSource" })From Excel or CSV</span>
        </div>
        <div id="MessageBox"></div>

    </div>
}